body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #1e1e2e;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #181825;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #313244;
    top: 0;
    z-index: 1000;
    position: sticky;
}

.navbar-brand {
    margin-left: 2em;
    font-size: 2rem;
    color: #cdd6f4;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #89b4fa;
    text-decoration: none;
}

.content-body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cdd6f4;
    margin-top: 5em;
}

